/* navbar styles */
.navbar {
  width: 100%;
  background: #1954bb;
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  color: #ffffff;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.navbar button {
  margin-left: 16px;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
}
.navbar a {
  margin-left: 16px;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
}
